@media screen and (max-width: 576px) {
  .services__container {
    gap: 10px;
  }
  .services__container > div {
    height: 300px;
    width: 450px;
  }
  .service__img > img {
    max-width: 100%;
    height: 300px;
  }
  .service {
    background-color: var(--services-background);
  }
  .service > div > p {
  
    font-family: var(--services-font)
  }
  .service > div > h3 {
    padding-bottom: 0;
    font-family: var(--services-font)
  }
}
@media screen and (min-width: 576px) {
  .services__container {
    gap: 10px;
  }
  .services__container > div {
    height: 300px;
    width: 540px;
    
  }
  .service__img > img {
    max-width: 100%;
    height: 300px;
  }
  .service {
    background-color: var(--services-background);
  }
  .service > div > p {
    font-family: var(--services-font)
  }
}
@media screen and (min-width: 768px) {
  .services__container {
    gap: 10px;
  }
  .services__container > div {
    height: 300px;
    width: 720px;
  }
  .service__img > img {
    width: 100%;
    height: 300px;
  }
  .service {
    background-color: var(--services-background);
  }
  .service > div > p {
    font-family: var(--services-font)
  }
}
